<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Banco</servlet-name>
        <servlet-class>Banco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar</servlet-name>
        <servlet-class>Listar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pesquisar</servlet-name>
        <servlet-class>Pesquisar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletar</servlet-name>
        <servlet-class>Deletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormEditar</servlet-name>
        <servlet-class>FormEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>Editar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Banco</servlet-name>
        <url-pattern>/Banco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pesquisar</servlet-name>
        <url-pattern>/Pesquisar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletar</servlet-name>
        <url-pattern>/Deletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormEditar</servlet-name>
        <url-pattern>/FormEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/Editar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
